body {
  background-color: #151515;
  color: white;
}

.btn {
  padding: 40px;
  background-color: green;
  height: 200px;
  transition: background-color 2s, height 500ms;
}

.btn:hover {
  height: 800px;

  background-color: red;
}
